<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilo.css">
    <!-- --Fontawesome -- -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    <title>Frelance Portfolio</title>
</head>
<body>
    <header>
        <div>
            <a href="/" class="main-dire">FREELANCE PORTFOLIO</a>
        </div>
        <div class="enlace-superior">
               <a href="#portfolio">PORTFOLIO</a>
               <a href="#nosotros">ABOUT</a>
               <a href="#contacto">CONTACT</a>
       </div>
    </header>

<main>
    <div class="contenedor-logo-frase">
        <div class="logo">
            <img src="/images/profile.png" alt="logo">
        </div>
        <div class="frase">
            <p><i class=></i>FREELANCE PORTFOLIO</p>
        </div>
        <div class="separador">
            <p></p>
            <i class="fa-solid fa-star"></i>
            <p></p>
        </div>
        <p class="descripcion">Web developer - Graphic Artist - User Experience Designer</p>
    </div>

    <div id="portfolio" class="seccion-tarjetas">
        <h1 id="titulo">PORTFOLIO</h1>
        <div class="separador">
            <p></p>
            <i class="fa-solid fa-star"></i>
            <p></p>
        </div>
    <div class="tarjetas">
            <img src="/images/cabin.png" alt="">
            <img src="/images/cake.png" alt="">
            <img src="/images/circus.png" alt="">
            <img src="/images/game.png" alt="">
            <img src="/images/safe.png" alt="">
            <img src="/images/submarine.png" alt="">       
    </div>

    <div id="nosotros"class="contenedor-sobreNosotros">
        <h1 id="titulo">ABOUT</h1>
        <div class="separador">
            <p></p>
            <i class="fa-solid fa-star"></i>
            <p></p>
        </div>
        <div class="txt-about">
        <p id="parrafos">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error beatae veritatis iure asperiores, ab eum porro quod quibusdam? Maiores praesentium laboriosam</p>
        <p id="parrafos">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi quos sint tenetur provident facilis, cupiditate impedit deserunt tempore quas recusandae eaque</p>
        </div>
        <div class="btn-download">
            <button>
            <i class="fa-sharp fa-solid fa-download"></i>
            <a class="descarga" href="">Download Now!</a>
            </button>
        </div>
     </div>

     <div id="contacto" class="contact-me">
        <h1 id="titulo">CONTACT ME</h1>
        <div class="separador-1">
            <p></p>
            <i class="fa-solid fa-star"></i>
            <p></p>
        </div>
        <form action="" method="">
            <label for="name">Name</label>
            <input type="text" name="name" id="name">
            <label for="email">Email Adress</label>
            <input type="email" name="email adress" id="email">
            <label for="tel">Phone Number</label>
            <input type="tel" name="phone number" id="tel">
            <label for="message">Message</label>
            <input id="caja-comentarios" type="text" name="comentarios" id="message">
            <button type="submit">Send</button>
         </form>
    </div>

<footer>
    <div class="titulos-footer">
        <h4 id="titulo">LOCATION</h4>
        <p id="parrafo">2215 john Daniel drive</p>
        <p id="parrafo">Clark, MO 65243</p>
    </div>
    <div class="titulos-footer2">
        <h4 id="titulo">ARROUND THE WEB</h4>
        <div class="iconos">
        <a href="#" id="icon" class="fa-brands fa-facebook-f"></a>
        <a href="#" id="icon" class="fa-brands fa-google-plus-g"></a>
        <a href="#" id="icon" class="fa-brands fa-twitter"></a>
        <a href="#" id="icon" class="fa-brands fa-linkedin-in"></a>
        <a href="#" id="icon" class="fa-brands fa-dribbble"></a>
        </div>
    </div>
    <div class="titulos-footer3">
        <h4 id="titulo">ABOUT FREELANCER</h4>
        <p id="parrafo">Freelancer is free and open source landing page theme created to <a href="#">your free personal use.</a></p>
    </div>
        
</footer>
</main>
    
</body>
</html>