/*FUENTES*/

@import url('http://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

 /*VARIABLES*/
:root {
    --verde: #18BC9C;
    --azul: #2C3E50;
    --fuentetitulo: montserrat;
    --fuenteparrafo: lato;    
}
/* * {
    box-sizing: border-box;
} */
html {
    scroll-behavior: smooth;
    
  }
/*HEADER*/
header {
    background-color: var(--azul);
    padding: 20px 0;
    width: auto;
}
header .enlace-superior{
    font-family: var(--fuentetitulo);
    font-weight: bold;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
}

header .enlace-superior a{
    margin: 0.5rem;
    background-color: transparent;
    text-decoration: none;
    color: white;
    margin-right: 45px;
}


header .main-dire {
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-family: var(--fuentetitulo);
    font-weight: bold;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
}
.fa-solid.fa-bars{
    color: white;
    background-color: var(--verde);
    font-size: 15px;
    border-radius: 5%;
    width:65px;
    padding: 2%;
    flex-direction: row-reverse;
    display: flex;
    justify-content: space-between;
}

/* CONTENEDOR PRESENTACION */
.contenedor-logo-frase {
    background-color: var(--verde);
    padding-bottom: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-top: 40px;
}

.contenedor-logo-frase .descripcion{
 color: white;
text-align: center;
font-family: var(--fuentetitulo);
padding-bottom: 30px;
font-size:15px ;
}

.contenedor-logo-frase .frase{
    color: white;
    font-family: var(--fuentetitulo);
    font-size: 45px;
    font-weight:900;
    text-align: center;
}

.contenedor-logo-frase .separador{
    font-size: 20px;
    color: white;
    margin-top: -40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contenedor-logo-frase .separador p{
    width: 100px;
    background-color: white;
    height: 5px;
    border-radius: 16%;
    margin: 1rem;
}

/* CONTENEDOR IMAGENES*/

.seccion-tarjetas .separador p{
    width: 120px;
    background-color: var(--azul);
    height: 5px;
    border-radius: 16%;
    margin: 1rem;
}

.seccion-tarjetas .separador{
    font-size: 20px;
    color: var(--azul);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.seccion-tarjetas h1{
color: var(--azul);
text-align: center;
font-size: 40px;
margin-top: 50px;
}

.seccion-tarjetas{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}

.seccion-tarjetas .tarjetas{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.seccion-tarjetas .tarjetas img{
 width:100% ;
 object-fit:contain;
 margin-top: 6px;
 
}


/* CONTENEDOR SOBRE NOSOTROS */
.contenedor-sobreNosotros{
    background-color: var(--verde);
    display: flex;
    flex-direction: column;
    text-align: center; 
    justify-content: center;
    align-items: center; 
    height: 400px;
    margin-top: 40px;
}

.contenedor-sobreNosotros .separador{
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -30px;
}

.contenedor-sobreNosotros .separador p{
    width: 120px;
    background-color: white;
    height: 5px;
    border-radius: 16%;
    /* margin-bottom: 20px; */
}
.contenedor-sobreNosotros h1{
    color: white;
    font-family: var(--fuentetitulo);
    font-weight: bold;
    margin-top: -30px;
}

.txt-about{
    height: 40%;
    justify-content: center;
    align-items: center;
}

.txt-about p{
    margin: 0.9rem;
    color: white;
    font-family: var(--fuenteparrafo);
    font-size: 1rem;
}

.btn-download button{
    background-color: var(--verde); 
    color: white; 
    border: 2px solid white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 70px;
    cursor: pointer;
    border-radius: 12px;
}

.btn-download a{
    background-color: transparent;
    text-decoration: none;
    color: white;
}

/*  CONTENEDOR FOMULARIO */


.contact-me h1{
    color: var(--azul);
    font-family: var(--fuentetitulo);
    font-weight: bold;
}

.contact-me .separador-1{
    font-size: 20px;
    color: var(--azul);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
}

.contact-me .separador-1 p{
    width: 120px;
    background-color: var(--azul);
    height: 5px;
    border-radius: 16%;
    margin: 1rem;
}
form.formulario{
display: flex;
flex-direction: column;
justify-content: left;
align-items: left;
box-sizing: border-box;
width: 290px;  
padding: 30px 45px;
}

form.formulario label {
    font-family: var(--fuentetitulo);
    margin-top: 4%;
}
form.formulario input {
    border-bottom: 1px solid grey;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
}
input#caja-comentarios {
    height: 100px;
}

button.btn-send{
    width: fit-content;
    background-color: var(--verde);
    color: white;
    border: var(--verde);
    height: 30px;
    font-family: var(--fuentetitulo);
    margin-top: 20px;
    margin-bottom: 20px;
    
}




/* FOOTER */

footer {
    background-color: var(--azul);
    color: white;
    width: 100%;
    display: flex;
    /* justify-content: space-around; */
    height: auto;
    align-items: center;
    flex-direction: column;
}

h4#titulo {
    
    font-family: var(--fuentetitulo);
}
.titulos-footer  {
    width: 50%;
    height: auto;
    text-align: center;
}
.titulos-footer2  {
    width: 50%;
    height: auto;
    text-align: center;
}
.iconos a {
    border-radius: 50%;
    color: white;
    display: flex;
    font-size: 23px;
    height: 35px;
    outline: 1px solid white;
    text-decoration: none;
    width: 30px; 
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}
.iconos {
    display:flex;
    justify-content: space-between;
}
.titulos-footer3 {
    width: 50%;
    text-align: center;
}
.titulos-footer3 p {
    text-align: center;
}
.titulos-footer3 p a {
    text-decoration: none;
    color: var(--verde);
    
}

/* MEDIA MOBILE */

@media (min-width: 320px){
    .enlace-superior{
        visibility: hidden;
    }
    i.fa-solid.fa-bars{
        margin-left: 20px;
        margin-top: 5px;
    }   
}

/* MEDIA TABLET */

@media (min-width:768px){
    header{
        height: 50px;
    }
    a.main-dire{
        margin-top: 20px;
    }
    .enlace-superior{
        visibility: hidden;
    }
    i.fa-solid.fa-bars{
        float: right;
        margin-top: -30px;
        margin-right: 30px;
    }
    .seccion-tarjetas .tarjetas img{
        width:45% ;
    }
    .seccion-tarjetas .tarjetas{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
   
    .txt-about p{
        font-size: 1.4rem;
    }
    form.formulario{
        width: 690px;  
    }
    footer {
       flex-direction: row;
    }
    .titulos-footer  {
        width: 45%;
    }
    .titulos-footer2  {
        width: 30%;
        margin-bottom: 30px;
        margin-right: 30px;
    }
    .titulos-footer3  {
        width: 40%;
    }
}

/*  MEDIA DESKTOP */

@media (min-width: 1024px){
   div.burger-menu{
        visibility:hidden;
    }
    a.main-dire{
        margin-top: 9px;
    }
    .enlace-superior{
        visibility:visible;
        margin-top: 5px;
    }
    .contenedor-logo-frase .frase{
        font-size: 55px;
    }
    .contenedor-logo-frase .descripcion{
       font-size:25px ;
    }
    
    .seccion-tarjetas .tarjetas img{
     width: 28%;
    }
    .contenedor-sobreNosotros {
        height: 550px;
    }
    .txt-about{
        display: flex;
    }
    .txt-about p{
        font-size: 25px;
        text-align: center;
        margin: 3.9rem;
    }
    footer {
        height: 200px;
     }
}
